/* login.component.css */
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    background-color: #fff;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  button {
    margin-top: 16px;
  }
  .loginButton {
    background-color: #fff;
    color: #007bff;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
  }
  .mat-form-field-invalid {
    border-color: #dd2c00;
  }
  .mat-form-field-invalid .mat-form-field-label {
    color: #dd2c00;
  }
  .mat-form-field-invalid .mat-form-field-ripple {
    background-color: #dd2c00;
  }
  