
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter or Search Expense Name</mat-label>
    <input type="text"
           placeholder="Enter Item"
           matInput [formControl]="item"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Amount</mat-label>
  <input matInput type="number"  [(ngModel)]="value.amount" placeholder="0">
  <span matTextPrefix>INR&nbsp;</span>
</mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" [(ngModel)]="value.date">
  
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<div class="fin-button-container">
  <button (click) = "submit()" class="fin-action-button" mat-raised-button color="primary">{{primaryAction}}</button>
  <button *ngIf="secondaryAction" (click) = "delete()" class="fin-action-button" mat-raised-button color="warn">Delete</button>
 
  <button (click) = "goBackToList()" class="fin-action-button" mat-stroked-button color="primary">Cancel</button>
  
  </div>