<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="padding-right: 2px;"><img src="assets/images/logo.png" style="height: 36px ; padding-right: 2px;"/></span>
  <span>Bahikhata</span>
  <span class="example-spacer"></span>
  <button  (click)="navigateToAddItems()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    
    <mat-icon >
      
        format_list_bulleted_add
     
      </mat-icon>
  </button>
  <button (click)="navigateToAddCategory()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>category</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
